

@{
    ViewData["Title"] = "Home Page";
}

<div class="cat">
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>You can watch movies in this site</h2>
    <a class="btn but" asp-action="Catalog" asp-controller="Movies">Click here to check the movies.</a>
    <a class="btn but" asp-action="ActorsList" asp-controller="Actors">Click here to check Actors</a>
</div>
</div>
