@model IEnumerable<Movies.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<div class="cat">

<table class="table">
    <thead>
        <tr>
            <th>
                <h1>Films</h1>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="container">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-sm-2 mb-3">
                                <!-- Bootstrap column for grid layout -->
                                <a asp-action="Details" asp-controller="Movies" asp-route-id="@item.Id">
                                    <img src="@item.Image" alt="Movie Image" style="width:200px;height:300px;" />
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</div>